* {
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas, .game-board {
  box-shadow: 1px 1px 2px black;
}

img {
  height: 50px;
  width: 30px;
}

.game-board {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px 5px 0 0;
}

.player-lives, .player-money {
  width: 50%;
}

.player-money {
  text-align: right;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
}

p {
  margin: 0;
}