* {
  -webkit-user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  /* Preventing Chrome's Pull-to-Refresh on Android */
  overscroll-behavior: none;
  position: relative;
  height: 100%;
  width: 100%;
}

body,
.warning,
.game-board,
.game-rules,
.game-over,
.game-menu,
.player-lives,
.player-money,
.player-level,
.icon-buttons,
.game-controls,
.player-selection {
  justify-content: center;
  align-items: center;
  display: flex;
}

.warning {
  display: none;
}

main {
  position: relative;
}

canvas,
.game-board {
  box-shadow: 1px 1px 2px black;
}

img {
  height: 50px;
  width: 30px;
}

p,
ul,
body {
  padding: 0;
  margin: 0;
}

.warning,
.game-menu,
.game-over,
.game-rules,
.game-controls,
.player-selection {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/*
 * Styles for the game board
 */
.game-board {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  height: 50px;
}

.player-level,
.player-money,
.icon-buttons {
  text-shadow: 1px 1px black;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.player-level, .player-lives {
  justify-content: flex-start;
}

.player-money {
  justify-content: center;
}

.player-lives,
.player-money,
.player-level,
.icon-buttons {
  width: 25%;
}

.icon-buttons button {
  margin-left: 5px;
  font-size: 20px;
  padding: 5px;
}

/*
 * Styles for the game menu
 */
.game-menu {
  background-image: url(../img/background.png);
}

li,
button {
  text-shadow: 2px 2px 2px white, 1px 1px 1px green;
  background-color: rgba(0,0,0,0.6);
  font: bold 30px Verdana;
  list-style-type: none;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  color: white;
  border: none;
}

li:active,
button:active {
  background-color: rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px #000;
}

.hidden {
  display: none;
}

/*
 * Styles for the game modal
 */
.game-rules {
  background-image: url(../img/game-rules.png);
}

.game-controls {
  background-image: url(../img/game-controls.png);
}

.player-selection {
  background-image: url(../img/player-selection.png);
}

.close-button {
  box-shadow: 1px 1px 2px white;
  position: absolute;
  border-radius: 5px;
  font: bold 24px;
  padding: 0 5px;
  color: white;
  right: 5px;
  top: 5px;
}

.player-selection img {
  height: 160px;
  width: 95px;
}

li,
button,
.close-button,
.player-selection img {
  cursor: pointer;
}

.player-selection img:hover {
  transform: scale(1.1, 1.1);
}

.game-message {
  text-shadow: 1px 1px black;
  font: bold 48px monospace;
  color: white;
}

.container {
  text-align: center;
}

/* Make the screen responsive */
@media screen and (max-width: 502px) {
  .game-message {
    font-size: calc(100vw / 10.41);
  }

  img {
    width: calc(100vw / 16.66);
    height: calc(100vw / 10);
  }

  .player-selection img {
    height: calc(100vw / 3.125);
    width: calc(100vw / 5.26);
  }

  .player-money, .player-level {
    font-size: calc(100vw / 20.83);
  }

  .game-board {
    padding: 0 calc(100vw / 100);
    height: calc(100vw / 10);
  }

  li,
  button {
    margin-bottom: calc(100vw / 100);
    border-radius: calc(100vw / 100);
    font-size: calc(100vw / 16.66);
    padding: calc(100vw / 41.66);
  }

  .close-button {
    border-radius: calc(100vw / 100);
    font-size: calc(100vw / 16.66);
    box-shadow: 1px 1px 2px white;
    padding: 0 calc(100vw / 100);
    right: calc(100vw / 100);
    top: calc(100vw / 100);
  }

  .icon-buttons button {
    margin-left: calc(100vw / 100);
    font-size: calc(100vw / 20);
    padding: calc(100vw / 100);
  }
}

/* Warn the user that the landscape mode is not supported and hide the game */
@media screen and (max-width: 502px) and (orientation: landscape) {
  main {
    display: none;
  }

  .warning {
    display: flex;
  }
}